* {
    border: 1px solid red;
}
img {
    max-width: 400px;
}
div {
    border: 1px solid black;
}
body {
    background-color: navy;
}
.description {
    width: 400px;
}
.group {
    background-color: white;
    border: 1px black;
    text-align: center;
    padding: 5px;
    margin: 20px;
}
h1, h3 {
    font-family: Helvetica;
}
